body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

header {
    font-weight: 400;
    margin: 0px 20px 0px 20px;
}

#thisLink {
    text-decoration: none;
}

a {
    text-decoration: none;
    color:black;
}
